$image-width: 53px;
$post-content-max-width: 540px;
$post-content-border-radius: 6px;


.post {
    /* Increase space between post boxes to improve readability */
    &[class*=other--] {
        margin-top: 1.2em;
    }

    &:hover {
        background: transparent !important;
    }

    .post__content {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .post__body {
        max-width: $post-content-max-width;
        padding: 0.4em 0.8em !important;
        border-radius: $post-content-border-radius;
    }
    .post__link {
        max-width: $post-content-max-width;
    }
}

body.mm-chat-ui--light-theme {
    .post:not(.post--system) .post__body {
        background: rgba(61, 60, 64, 0.04);
        box-shadow: 0 2px 2px rgba(160, 172, 182, 0.5);
    }
}
body.mm-chat-ui--dark-theme {
    .post:not(.post--system) .post__body {
        background: rgba(255, 255, 255, 0.08);
        a {
            color: rgb(90, 180, 255);
        }
    }
}


/* Current user's posts */
body.mm-chat-ui--light-theme .post.current--user .post__body {
    background-color: rgba(239, 253, 222, .82) !important;
    box-shadow: 0 2px 2px rgba(193, 218, 162, .75);
}
body.mm-chat-ui--dark-theme .post.current--user .post__body {
    background-color: rgba(86, 164, 240, .3) !important;
}


// Post Menus
@media screen and (min-width: 769px) {
    .post__header .post-menu {
        top: auto !important;
        bottom: 2px !important;
        right: auto;
        left: calc(#{$image-width} + #{$post-content-max-width} + 1em);
    }
}