$image-width: 53px;
$post-content-max-width: 540px;
$post-content-border-radius: 6px;


.post, .post-right__container .post, .ThreadViewer .post {
    .post__content {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .post__body {
        max-width: $post-content-max-width;
        padding: 0.4em 0.8em 0.6em !important;
        border-radius: $post-content-border-radius;

        .post-collapse__show-more {
            padding-right: 0;
        }
    }

    .post__link {
        max-width: $post-content-max-width;
    }
}

body.mm-chat-ui--light-theme {
    .post:not(.post--system) .post__body {
        background: rgba(61, 60, 64, 0.04) !important;
        //box-shadow: 0 2px 2px rgba(160, 172, 182, 0.5);
        border: 1px solid rgba(160, 172, 182, 0.25);
    }
}
body.mm-chat-ui--dark-theme {
    .post:not(.post--system) .post__body {
        background: rgba(255, 255, 255, 0.08) !important;
        a {
            color: rgb(90, 180, 255);
        }
    }
}


// Current user's posts
body.mm-chat-ui--light-theme .post.current--user .post__body {
    background-color: rgba(239, 253, 222, .82) !important;
    //box-shadow: 0 2px 2px rgba(193, 218, 162, .75);
    border: 1px solid rgba(193,218,162,0.4);
}
body.mm-chat-ui--dark-theme .post.current--user .post__body {
    background-color: rgba(86, 164, 240, .3) !important;
}


// Post Menus
@media screen and (min-width: 769px) {
    .post__header .post-menu {
        top: auto !important;
        bottom: 2px !important;
        right: auto;
        left: calc(#{$image-width} + #{$post-content-max-width} + 1em);
    }
}


// Thread Footer
.post__body .ThreadFooter {
    position: unset;
    margin-top: 6px;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;

    .indicator {
        height: unset;
        padding: 0 8px 0 6px;

        &:empty {
            display: none;
        }
    }
}


// OpenGraph Remove Button
.post .PostAttachmentOpenGraph button.remove-button {
    top: 2px;
    right: 2px;
    left: auto;
}


// HR
.post__body .post-message__text-container .post-message__text hr {
    margin: 0.6em 0;
}